In [27]:
import pandas as pd
import numpy as np
import random as rd

In [28]:
dfPacientes = pd.read_csv("medical_records.csv")

dfPacientes = dfPacientes.iloc[:600]
dfPacientes.drop(['patient_id', 'medical_conditions', 'medications', 'allergies'], axis=1, inplace=True)
dfPacientes.rename(columns={'name':'nome', 'date_of_birth':'dataNascimento', 'gender':'sexo', 'last_appointment_date': 'ultimaConsulta'}, inplace=True)
dfPacientes = dfPacientes[['nome', 'sexo', 'dataNascimento', 'ultimaConsulta']]

dfPacientes

                  nome sexo dataNascimento ultimaConsulta
0           Scott Webb    F     1967-04-28     2022-07-26
1     Rachel Frederick    M     1977-04-04     2023-02-14
2           Eric Kline    F     1926-05-18     2021-04-24
3      James Rodriguez    M     1954-07-20     2022-05-26
4          David Scott    M     2015-12-07     2021-05-17
..                 ...  ...            ...            ...
595      Karen Bennett    F     1951-05-23     2023-03-20
596      Timothy Burns    M     2013-11-07     2023-01-08
597      Carolyn Klein    M     2018-11-29     2021-05-11
598        Lauren Diaz    M     1997-11-20     2022-10-03
599  Jeremy Richardson    M     1949-08-16     2023-02-04

[600 rows x 4 columns]

In [29]:
letrasAZ = [chr(i) for i in range(65, 91)]

medicamentos = {}

for letra in letrasAZ:
    probabilidadeNormal = 0.7

    if rd.random() < probabilidadeNormal:
        tipo = 'normal'
    else:
        tipo = 'psicotropico'
    
    nomeMedicamento = f'Medicamento{letra}'
    medicamentos[nomeMedicamento] = tipo

In [30]:
def gerarMedicacoes(num_medicacoes, medicamentos):
    meds = rd.choices(list(medicamentos.keys()), k=num_medicacoes)
    horarios = [rd.choice(pd.date_range('00:00', '23:59', freq='2h').time) for _ in range(num_medicacoes)]
    return [(med, horarios[i], medicamentos[med]) for i, med in enumerate(meds)]

numMedicacoesPorPaciente = np.random.randint(1,20, size=len(dfPacientes)) #gera um array com o mesmo numero de elementos da dfPacientes
dfPacientes['medicacoes'] = [gerarMedicacoes(num, medicamentos) for num in numMedicacoesPorPaciente]

dfPacientes.to_csv('prontuarios.csv', index=False)